.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav_menu {
  display: flex;

}

.nav_menu li{
  padding: 0 1rem;
}

.nav_menu li a{
  font-size: 1.2rem;
  font-weight: 500;
}